* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v153_523 {
  width: 100%;
  height: 1772px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v153_525 {
  width: 100%;
  height: 164px;
  background: rgba(10,14,14,1);
  opacity: 0.6000000238418579;
  position: relative;
  top: 0px;
  left: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.name {
  color: #fff;
}
.v153_527 {
  width: 414px;
  height: 153px;
  background: url("../images/v153_527.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 11px;
  overflow: hidden;
}
.v153_528 {
  width: 543px;
  height: 73px;
  background: rgba(32,177,187,0.5799999833106995);
  opacity: 1;
  position: absolute;
  top: 214px;
  left: 436px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}
.v153_529 {
  width: 286px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 229px;
  left: 565px;
  font-family: Open Sans;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v153_530 {
  width: 478px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 343px;
  left: 92px;
  font-family: Open Sans;
  font-weight: Bold;
  font-size: 29px;
  opacity: 1;
  text-align: left;
}
.v153_531 {
  width: 100%;
  height: 303px;
  background: rgba(0,0,0,0.800000011920929);
  opacity: 0.5;
  position: absolute;
  top: 1469px;
  left: 0px;
  overflow: hidden;
}
.v153_532 {
  width: 418px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1489px;
  left: 92px;
  font-family: Open Sans;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v153_533 {
  width: 799px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1582px;
  left: 92px;
  font-family: Open Sans;
  font-weight: SemiBold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v155_696 {
  width: 202px;
  height: 209px;
  background: url("../images/v155_696.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 525px;
  left: 120px;
  overflow: hidden;
}
.v155_697 {
  width: 202px;
  height: 209px;
  background: rgba(216,149,129,0.6499999761581421);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v155_698 {
  width: 147px;
  color: rgba(39,33,77,1);
  position: absolute;
  top: 127px;
  left: 18px;
  font-family: Open Sans;
  font-weight: SemiBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v155_699 {
  width: 81px;
  height: 27px;
  background: url("../images/v155_699.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 160px;
  left: 18px;
  overflow: hidden;
}
.v155_700 {
  width: 81px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v155_701 {
  width: 202px;
  height: 209px;
  background: url("../images/v155_701.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1080px;
  left: 1121px;
  overflow: hidden;
}
.v155_702 {
  width: 202px;
  height: 209px;
  background: rgba(216,149,129,0.6499999761581421);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v155_703 {
  width: 147px;
  color: rgba(39,33,77,1);
  position: absolute;
  top: 127px;
  left: 18px;
  font-family: Open Sans;
  font-weight: SemiBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v155_704 {
  width: 81px;
  height: 27px;
  background: url("../images/v155_704.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 160px;
  left: 18px;
  overflow: hidden;
}
.v155_705 {
  width: 81px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v155_706 {
  width: 202px;
  height: 209px;
  background: url("../images/v155_706.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 524px;
  left: 1121px;
  overflow: hidden;
}
.v155_707 {
  width: 202px;
  height: 209px;
  background: rgba(216,149,129,0.6499999761581421);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v155_708 {
  width: 147px;
  color: rgba(39,33,77,1);
  position: absolute;
  top: 127px;
  left: 18px;
  font-family: Open Sans;
  font-weight: SemiBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v155_709 {
  width: 81px;
  height: 27px;
  background: url("../images/v155_709.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 160px;
  left: 18px;
  overflow: hidden;
}
.v155_710 {
  width: 81px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v155_711 {
  width: 202px;
  height: 209px;
  background: url("../images/v155_711.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 800px;
  left: 1121px;
  overflow: hidden;
}
.v155_712 {
  width: 202px;
  height: 209px;
  background: rgba(216,149,129,0.6499999761581421);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v155_713 {
  width: 147px;
  color: rgba(39,33,77,1);
  position: absolute;
  top: 127px;
  left: 18px;
  font-family: Open Sans;
  font-weight: SemiBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v155_714 {
  width: 81px;
  height: 27px;
  background: url("../images/v155_714.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 160px;
  left: 18px;
  overflow: hidden;
}
.v155_715 {
  width: 81px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v155_716 {
  width: 147px;
  height: 61px;
  background: url("../images/v155_716.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 927px;
  left: 1140px;
  overflow: hidden;
}
.v155_717 {
  width: 147px;
  color: rgba(39,33,77,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Open Sans;
  font-weight: SemiBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v155_718 {
  width: 81px;
  height: 27px;
  background: url("../images/v155_718.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 33px;
  left: 1px;
  overflow: hidden;
}
.v155_719 {
  width: 81px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v155_720 {
  width: 202px;
  height: 209px;
  background: url("../images/v155_720.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 800px;
  left: 120px;
  overflow: hidden;
}
.v155_721 {
  width: 202px;
  height: 209px;
  background: rgba(216,149,129,0.6499999761581421);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v155_722 {
  width: 147px;
  color: rgba(39,33,77,1);
  position: absolute;
  top: 127px;
  left: 18px;
  font-family: Open Sans;
  font-weight: SemiBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v155_723 {
  width: 81px;
  height: 27px;
  background: url("../images/v155_723.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 160px;
  left: 18px;
  overflow: hidden;
}
.v155_724 {
  width: 81px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v155_725 {
  width: 202px;
  height: 209px;
  background: url("../images/v155_725.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1080px;
  left: 120px;
  overflow: hidden;
}
.v155_726 {
  width: 202px;
  height: 209px;
  background: rgba(216,149,129,0.6499999761581421);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v155_727 {
  width: 147px;
  color: rgba(39,33,77,1);
  position: absolute;
  top: 127px;
  left: 18px;
  font-family: Open Sans;
  font-weight: SemiBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v155_728 {
  width: 81px;
  height: 27px;
  background: url("../images/v155_728.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 160px;
  left: 18px;
  overflow: hidden;
}
.v155_729 {
  width: 81px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v155_730 {
  width: 202px;
  height: 209px;
  background: url("../images/v155_730.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 800px;
  left: 469px;
  overflow: hidden;
}
.v155_731 {
  width: 202px;
  height: 209px;
  background: rgba(216,149,129,0.6499999761581421);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v155_732 {
  width: 129px;
  height: 121px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 36px;
  border-radius: 50%;
}
.v155_733 {
  width: 147px;
  color: rgba(39,33,77,1);
  position: absolute;
  top: 127px;
  left: 18px;
  font-family: Open Sans;
  font-weight: SemiBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v155_734 {
  width: 81px;
  height: 27px;
  background: url("../images/v155_734.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 160px;
  left: 18px;
  overflow: hidden;
}
.v155_735 {
  width: 81px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v155_736 {
  width: 129px;
  height: 121px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 1109px;
  left: 155px;
  border-radius: 50%;
}
.v155_737 {
  width: 202px;
  height: 209px;
  background: url("../images/v155_737.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 524px;
  left: 799px;
  overflow: hidden;
}
.v155_738 {
  width: 202px;
  height: 209px;
  background: rgba(216,149,129,0.6499999761581421);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v155_739 {
  width: 147px;
  color: rgba(39,33,77,1);
  position: absolute;
  top: 127px;
  left: 18px;
  font-family: Open Sans;
  font-weight: SemiBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v155_740 {
  width: 81px;
  height: 27px;
  background: url("../images/v155_740.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 160px;
  left: 18px;
  overflow: hidden;
}
.v155_741 {
  width: 81px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v155_742 {
  width: 34px;
  height: 33px;
  background: url("../images/v155_742.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 679px;
  left: 950px;
  overflow: hidden;
}
.v155_743 {
  width: 34px;
  height: 33px;
  background: rgba(255,226,200,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  overflow: hidden;
}
.v155_744 {
  width: 17px;
  height: 16px;
  background: rgba(235,123,20,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 8px;
}
.v155_745 {
  width: 34px;
  height: 33px;
  background: url("../images/v155_745.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1227px;
  left: 950px;
  overflow: hidden;
}
.v155_746 {
  width: 34px;
  height: 33px;
  background: rgba(255,226,200,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  overflow: hidden;
}
.v155_747 {
  width: 17px;
  height: 16px;
  background: rgba(235,123,20,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 8px;
}
.v155_748 {
  width: 34px;
  height: 33px;
  background: url("../images/v155_748.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 964px;
  left: 959px;
  overflow: hidden;
}
.v155_749 {
  width: 34px;
  height: 33px;
  background: rgba(255,226,200,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  overflow: hidden;
}
.v155_750 {
  width: 17px;
  height: 16px;
  background: rgba(235,123,20,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 8px;
}
.v155_751 {
  width: 34px;
  height: 33px;
  background: url("../images/v155_751.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 689px;
  left: 1272px;
  overflow: hidden;
}
.v155_752 {
  width: 34px;
  height: 33px;
  background: rgba(255,226,200,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  overflow: hidden;
}
.v155_753 {
  width: 17px;
  height: 16px;
  background: rgba(235,123,20,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 8px;
}
.v155_754 {
  width: 34px;
  height: 33px;
  background: url("../images/v155_754.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 962px;
  left: 1272px;
  overflow: hidden;
}
.v155_755 {
  width: 34px;
  height: 33px;
  background: rgba(255,226,200,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  overflow: hidden;
}
.v155_756 {
  width: 17px;
  height: 16px;
  background: rgba(235,123,20,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 8px;
}
.v155_757 {
  width: 202px;
  height: 209px;
  background: url("../images/v155_757.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 799px;
  left: 798px;
  overflow: hidden;
}
.v155_758 {
  width: 202px;
  height: 209px;
  background: rgba(216,149,129,0.6499999761581421);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v155_759 {
  width: 147px;
  color: rgba(39,33,77,1);
  position: absolute;
  top: 127px;
  left: 18px;
  font-family: Open Sans;
  font-weight: SemiBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v155_760 {
  width: 81px;
  height: 27px;
  background: url("../images/v155_760.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 160px;
  left: 18px;
  overflow: hidden;
}
.v155_761 {
  width: 81px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v155_762 {
  width: 34px;
  height: 33px;
  background: url("../images/v155_762.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1235px;
  left: 1272px;
  overflow: hidden;
}
.v155_763 {
  width: 34px;
  height: 33px;
  background: rgba(255,226,200,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  overflow: hidden;
}
.v155_764 {
  width: 17px;
  height: 16px;
  background: rgba(235,123,20,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 8px;
}
.v155_765 {
  width: 202px;
  height: 209px;
  background: url("../images/v155_765.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1080px;
  left: 799px;
  overflow: hidden;
}
.v155_766 {
  width: 202px;
  height: 209px;
  background: rgba(216,149,129,0.6499999761581421);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v155_767 {
  width: 147px;
  color: rgba(39,33,77,1);
  position: absolute;
  top: 127px;
  left: 18px;
  font-family: Open Sans;
  font-weight: SemiBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v155_768 {
  width: 81px;
  height: 27px;
  background: url("../images/v155_768.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 160px;
  left: 18px;
  overflow: hidden;
}
.v155_769 {
  width: 81px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v155_770 {
  width: 129px;
  height: 121px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 823px;
  left: 838px;
  border-radius: 50%;
}
.v155_771 {
  width: 129px;
  height: 121px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 1109px;
  left: 838px;
  border-radius: 50%;
}
.v155_772 {
  width: 202px;
  height: 209px;
  background: url("../images/v155_772.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1082px;
  left: 472px;
  overflow: hidden;
}
.v155_773 {
  width: 202px;
  height: 209px;
  background: rgba(216,149,129,0.6499999761581421);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v155_774 {
  width: 129px;
  height: 121px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 29px;
  left: 40px;
  border-radius: 50%;
}
.v155_775 {
  width: 147px;
  color: rgba(39,33,77,1);
  position: absolute;
  top: 127px;
  left: 18px;
  font-family: Open Sans;
  font-weight: SemiBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v155_776 {
  width: 81px;
  height: 27px;
  background: url("../images/v155_776.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 160px;
  left: 18px;
  overflow: hidden;
}
.v155_777 {
  width: 81px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v155_778 {
  width: 34px;
  height: 33px;
  background: rgba(255,226,200,1);
  opacity: 1;
  position: absolute;
  top: 689px;
  left: 265px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  overflow: hidden;
}
.v155_779 {
  width: 34px;
  height: 33px;
  background: rgba(255,226,200,1);
  opacity: 1;
  position: absolute;
  top: 689px;
  left: 265px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  overflow: hidden;
}
.v155_780 {
  width: 34px;
  height: 33px;
  background: rgba(255,226,200,1);
  opacity: 1;
  position: absolute;
  top: 689px;
  left: 265px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  overflow: hidden;
}
.v155_781 {
  width: 17px;
  height: 16px;
  background: rgba(235,123,20,1);
  opacity: 1;
  position: absolute;
  top: 698px;
  left: 273px;
}
.v155_782 {
  width: 397px;
  height: 752px;
  background: url("../images/v155_782.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 525px;
  left: 270px;
  overflow: hidden;
}
.v155_783 {
  width: 202px;
  height: 209px;
  background: rgba(215,149,128,0.6299999952316284);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 194px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v155_784 {
  width: 129px;
  height: 121px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 230px;
  border-radius: 50%;
}
.v155_785 {
  width: 159px;
  color: rgba(39,33,77,1);
  position: absolute;
  top: 128px;
  left: 213px;
  font-family: Open Sans;
  font-weight: SemiBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v155_786 {
  width: 62px;
  height: 28px;
  background: url("../images/v155_786.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 161px;
  left: 213px;
  overflow: hidden;
}
.v155_787 {
  width: 62px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v155_788 {
  width: 34px;
  height: 33px;
  background: url("../images/v155_788.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 166px;
  left: 350px;
  overflow: hidden;
}
.v155_789 {
  width: 34px;
  height: 33px;
  background: rgba(255,226,200,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  overflow: hidden;
}
.v155_790 {
  width: 17px;
  height: 16px;
  background: rgba(235,123,20,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 8px;
}
.v155_791 {
  width: 34px;
  height: 33px;
  background: url("../images/v155_791.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 436px;
  left: 336px;
  overflow: hidden;
}
.v155_792 {
  width: 34px;
  height: 33px;
  background: rgba(255,226,200,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  overflow: hidden;
}
.v155_793 {
  width: 17px;
  height: 16px;
  background: rgba(235,123,20,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 8px;
}
.v155_794 {
  width: 34px;
  height: 33px;
  background: url("../images/v155_794.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 713px;
  left: 341px;
  overflow: hidden;
}
.v155_795 {
  width: 34px;
  height: 33px;
  background: rgba(255,226,200,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  overflow: hidden;
}
.v155_796 {
  width: 17px;
  height: 16px;
  background: rgba(235,123,20,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 8px;
}
.v155_797 {
  width: 34px;
  height: 33px;
  background: url("../images/v155_797.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 718px;
  left: 3px;
  overflow: hidden;
}
.v155_798 {
  width: 34px;
  height: 33px;
  background: rgba(255,226,200,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  overflow: hidden;
}
.v155_799 {
  width: 17px;
  height: 16px;
  background: rgba(235,123,20,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 8px;
}
.v155_800 {
  width: 34px;
  height: 33px;
  background: url("../images/v155_800.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 959px;
  left: 265px;
  overflow: hidden;
}
.v155_801 {
  width: 34px;
  height: 33px;
  background: rgba(255,226,200,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  overflow: hidden;
}
.v155_802 {
  width: 17px;
  height: 16px;
  background: rgba(235,123,20,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 8px;
}
.v155_803 {
  width: 129px;
  height: 121px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 547px;
  left: 815px;
  border-radius: 50%;
}
.v155_804 {
  width: 129px;
  height: 121px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 548px;
  left: 1134px;
  border-radius: 50%;
}
.v155_805 {
  width: 129px;
  height: 121px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 822px;
  left: 1168px;
  border-radius: 50%;
}
.v155_806 {
  width: 129px;
  height: 121px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 1101px;
  left: 1152px;
  border-radius: 50%;
}
.v155_807 {
  width: 129px;
  height: 121px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 547px;
  left: 143px;
  border-radius: 50%;
}
.v155_808 {
  width: 129px;
  height: 121px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 830px;
  left: 155px;
  border-radius: 50%;
}
