* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v142_340 {
  width: 100%;
  height: 1772px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v142_343 {
  width: 100%;
  height: 164px;
  background: rgba(10,14,14,1);
  opacity: 0.6000000238418579;
  position: relative;
  top: 0px;
  left: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.name {
  color: #fff;
}
.v142_342 {
  width: 414px;
  height: 153px;
  background: url("../images/v142_342.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 11px;
  overflow: hidden;
}
.v142_345 {
  width: 543px;
  height: 73px;
  background: rgba(32,177,187,0.5799999833106995);
  opacity: 1;
  position: absolute;
  top: 214px;
  left: 436px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}
.v142_346 {
  width: 480px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 229px;
  left: 468px;
  font-family: Open Sans;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v142_347 {
  width: 462px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 343px;
  left: 92px;
  font-family: Open Sans;
  font-weight: Bold;
  font-size: 29px;
  opacity: 1;
  text-align: left;
}
.v142_371 {
  width: 100%;
  height: 303px;
  background: rgba(0,0,0,0.800000011920929);
  opacity: 0.5;
  position: absolute;
  top: 1469px;
  left: 0px;
  overflow: hidden;
}
.v142_372 {
  width: 418px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1489px;
  left: 92px;
  font-family: Open Sans;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v142_373 {
  width: 799px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1582px;
  left: 92px;
  font-family: Open Sans;
  font-weight: SemiBold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v143_343 {
  width: 202px;
  height: 209px;
  background: url("../images/v143_343.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 491px;
  left: 120px;
  overflow: hidden;
}
.v143_344 {
  width: 202px;
  height: 209px;
  background: rgba(216,149,129,0.6499999761581421);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v143_345 {
  width: 147px;
  color: rgba(39,33,77,1);
  position: absolute;
  top: 127px;
  left: 18px;
  font-family: Open Sans;
  font-weight: SemiBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v143_346 {
  width: 81px;
  height: 27px;
  background: url("../images/v143_346.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 160px;
  left: 18px;
  overflow: hidden;
}
.v143_347 {
  width: 81px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v148_400 {
  width: 202px;
  height: 209px;
  background: url("../images/v148_400.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1046px;
  left: 1121px;
  overflow: hidden;
}
.v148_401 {
  width: 202px;
  height: 209px;
  background: rgba(216,149,129,0.6499999761581421);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v148_402 {
  width: 147px;
  color: rgba(39,33,77,1);
  position: absolute;
  top: 127px;
  left: 18px;
  font-family: Open Sans;
  font-weight: SemiBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v148_403 {
  width: 81px;
  height: 27px;
  background: url("../images/v148_403.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 160px;
  left: 18px;
  overflow: hidden;
}
.v148_404 {
  width: 81px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v148_385 {
  width: 202px;
  height: 209px;
  background: url("../images/v148_385.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 490px;
  left: 1121px;
  overflow: hidden;
}
.v148_386 {
  width: 202px;
  height: 209px;
  background: rgba(216,149,129,0.6499999761581421);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v148_387 {
  width: 147px;
  color: rgba(39,33,77,1);
  position: absolute;
  top: 127px;
  left: 18px;
  font-family: Open Sans;
  font-weight: SemiBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v148_388 {
  width: 81px;
  height: 27px;
  background: url("../images/v148_388.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 160px;
  left: 18px;
  overflow: hidden;
}
.v148_389 {
  width: 81px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v148_390 {
  width: 202px;
  height: 209px;
  background: url("../images/v148_390.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 766px;
  left: 1121px;
  overflow: hidden;
}
.v148_391 {
  width: 202px;
  height: 209px;
  background: rgba(216,149,129,0.6499999761581421);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v148_392 {
  width: 147px;
  color: rgba(39,33,77,1);
  position: absolute;
  top: 127px;
  left: 18px;
  font-family: Open Sans;
  font-weight: SemiBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v148_393 {
  width: 81px;
  height: 27px;
  background: url("../images/v148_393.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 160px;
  left: 18px;
  overflow: hidden;
}
.v148_394 {
  width: 81px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v148_395 {
  width: 147px;
  height: 61px;
  background: url("../images/v148_395.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 893px;
  left: 1140px;
  overflow: hidden;
}
.v148_397 {
  width: 147px;
  color: rgba(39,33,77,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Open Sans;
  font-weight: SemiBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v148_398 {
  width: 81px;
  height: 27px;
  background: url("../images/v148_398.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 33px;
  left: 1px;
  overflow: hidden;
}
.v148_399 {
  width: 81px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v148_349 {
  width: 202px;
  height: 209px;
  background: url("../images/v148_349.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 766px;
  left: 120px;
  overflow: hidden;
}
.v148_350 {
  width: 202px;
  height: 209px;
  background: rgba(216,149,129,0.6499999761581421);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v148_351 {
  width: 147px;
  color: rgba(39,33,77,1);
  position: absolute;
  top: 127px;
  left: 18px;
  font-family: Open Sans;
  font-weight: SemiBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v148_352 {
  width: 81px;
  height: 27px;
  background: url("../images/v148_352.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 160px;
  left: 18px;
  overflow: hidden;
}
.v148_353 {
  width: 81px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v148_354 {
  width: 202px;
  height: 209px;
  background: url("../images/v148_354.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1046px;
  left: 120px;
  overflow: hidden;
}
.v148_355 {
  width: 202px;
  height: 209px;
  background: rgba(216,149,129,0.6499999761581421);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v148_356 {
  width: 147px;
  color: rgba(39,33,77,1);
  position: absolute;
  top: 127px;
  left: 18px;
  font-family: Open Sans;
  font-weight: SemiBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v148_357 {
  width: 81px;
  height: 27px;
  background: url("../images/v148_357.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 160px;
  left: 18px;
  overflow: hidden;
}
.v148_358 {
  width: 81px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v148_359 {
  width: 202px;
  height: 209px;
  background: url("../images/v148_359.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 766px;
  left: 469px;
  overflow: hidden;
}
.v148_360 {
  width: 202px;
  height: 209px;
  background: rgba(216,149,129,0.6499999761581421);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v148_410 {
  width: 129px;
  height: 121px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 36px;
  border-radius: 50%;
}
.v148_361 {
  width: 147px;
  color: rgba(39,33,77,1);
  position: absolute;
  top: 127px;
  left: 18px;
  font-family: Open Sans;
  font-weight: SemiBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v148_362 {
  width: 81px;
  height: 27px;
  background: url("../images/v148_362.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 160px;
  left: 18px;
  overflow: hidden;
}
.v148_363 {
  width: 81px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v148_409 {
  width: 129px;
  height: 121px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 1075px;
  left: 155px;
  border-radius: 50%;
}
.v148_364 {
  width: 202px;
  height: 209px;
  background: url("../images/v148_364.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 490px;
  left: 799px;
  overflow: hidden;
}
.v148_365 {
  width: 202px;
  height: 209px;
  background: rgba(216,149,129,0.6499999761581421);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v148_366 {
  width: 147px;
  color: rgba(39,33,77,1);
  position: absolute;
  top: 127px;
  left: 18px;
  font-family: Open Sans;
  font-weight: SemiBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v148_367 {
  width: 81px;
  height: 27px;
  background: url("../images/v148_367.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 160px;
  left: 18px;
  overflow: hidden;
}
.v148_368 {
  width: 81px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v155_607 {
  width: 34px;
  height: 33px;
  background: url("../images/v155_607.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 645px;
  left: 950px;
  overflow: hidden;
}
.v155_608 {
  width: 34px;
  height: 33px;
  background: rgba(255,226,200,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  overflow: hidden;
}
.v155_609 {
  width: 17px;
  height: 16px;
  background: rgba(235,123,20,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 8px;
}
.v155_623 {
  width: 34px;
  height: 33px;
  background: url("../images/v155_623.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1193px;
  left: 950px;
  overflow: hidden;
}
.v155_624 {
  width: 34px;
  height: 33px;
  background: rgba(255,226,200,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  overflow: hidden;
}
.v155_625 {
  width: 17px;
  height: 16px;
  background: rgba(235,123,20,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 8px;
}
.v155_620 {
  width: 34px;
  height: 33px;
  background: url("../images/v155_620.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 930px;
  left: 959px;
  overflow: hidden;
}
.v155_621 {
  width: 34px;
  height: 33px;
  background: rgba(255,226,200,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  overflow: hidden;
}
.v155_622 {
  width: 17px;
  height: 16px;
  background: rgba(235,123,20,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 8px;
}
.v155_611 {
  width: 34px;
  height: 33px;
  background: url("../images/v155_611.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 655px;
  left: 1272px;
  overflow: hidden;
}
.v155_612 {
  width: 34px;
  height: 33px;
  background: rgba(255,226,200,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  overflow: hidden;
}
.v155_613 {
  width: 17px;
  height: 16px;
  background: rgba(235,123,20,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 8px;
}
.v155_614 {
  width: 34px;
  height: 33px;
  background: url("../images/v155_614.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 928px;
  left: 1272px;
  overflow: hidden;
}
.v155_615 {
  width: 34px;
  height: 33px;
  background: rgba(255,226,200,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  overflow: hidden;
}
.v155_616 {
  width: 17px;
  height: 16px;
  background: rgba(235,123,20,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 8px;
}
.v148_369 {
  width: 202px;
  height: 209px;
  background: url("../images/v148_369.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 765px;
  left: 798px;
  overflow: hidden;
}
.v148_370 {
  width: 202px;
  height: 209px;
  background: rgba(216,149,129,0.6499999761581421);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v148_371 {
  width: 147px;
  color: rgba(39,33,77,1);
  position: absolute;
  top: 127px;
  left: 18px;
  font-family: Open Sans;
  font-weight: SemiBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v148_372 {
  width: 81px;
  height: 27px;
  background: url("../images/v148_372.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 160px;
  left: 18px;
  overflow: hidden;
}
.v148_373 {
  width: 81px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v155_617 {
  width: 34px;
  height: 33px;
  background: url("../images/v155_617.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1201px;
  left: 1272px;
  overflow: hidden;
}
.v155_618 {
  width: 34px;
  height: 33px;
  background: rgba(255,226,200,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  overflow: hidden;
}
.v155_619 {
  width: 17px;
  height: 16px;
  background: rgba(235,123,20,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 8px;
}
.v148_379 {
  width: 202px;
  height: 209px;
  background: url("../images/v148_379.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1046px;
  left: 799px;
  overflow: hidden;
}
.v148_380 {
  width: 202px;
  height: 209px;
  background: rgba(216,149,129,0.6499999761581421);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v148_381 {
  width: 147px;
  color: rgba(39,33,77,1);
  position: absolute;
  top: 127px;
  left: 18px;
  font-family: Open Sans;
  font-weight: SemiBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v148_382 {
  width: 81px;
  height: 27px;
  background: url("../images/v148_382.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 160px;
  left: 18px;
  overflow: hidden;
}
.v148_383 {
  width: 81px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v148_412 {
  width: 129px;
  height: 121px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 789px;
  left: 838px;
  border-radius: 50%;
}
.v148_413 {
  width: 129px;
  height: 121px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 1075px;
  left: 838px;
  border-radius: 50%;
}
.v148_374 {
  width: 202px;
  height: 209px;
  background: url("../images/v148_374.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1048px;
  left: 472px;
  overflow: hidden;
}
.v148_375 {
  width: 202px;
  height: 209px;
  background: rgba(216,149,129,0.6499999761581421);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v148_411 {
  width: 129px;
  height: 121px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 29px;
  left: 40px;
  border-radius: 50%;
}
.v148_376 {
  width: 147px;
  color: rgba(39,33,77,1);
  position: absolute;
  top: 127px;
  left: 18px;
  font-family: Open Sans;
  font-weight: SemiBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v148_377 {
  width: 81px;
  height: 27px;
  background: url("../images/v148_377.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 160px;
  left: 18px;
  overflow: hidden;
}
.v148_378 {
  width: 81px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v148_347 {
  width: 34px;
  height: 33px;
  background: rgba(255,226,200,1);
  opacity: 1;
  position: absolute;
  top: 655px;
  left: 265px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  overflow: hidden;
}
.v155_632 {
  width: 34px;
  height: 33px;
  background: rgba(255,226,200,1);
  opacity: 1;
  position: absolute;
  top: 655px;
  left: 265px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  overflow: hidden;
}
.v155_633 {
  width: 34px;
  height: 33px;
  background: rgba(255,226,200,1);
  opacity: 1;
  position: absolute;
  top: 655px;
  left: 265px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  overflow: hidden;
}
.v148_348 {
  width: 17px;
  height: 16px;
  background: rgba(235,123,20,1);
  opacity: 1;
  position: absolute;
  top: 664px;
  left: 273px;
}
.v143_351 {
  width: 397px;
  height: 752px;
  background: url("../images/v143_351.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 491px;
  left: 270px;
  overflow: hidden;
}
.v143_352 {
  width: 202px;
  height: 209px;
  background: rgba(215,149,128,0.6299999952316284);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 194px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v147_344 {
  width: 129px;
  height: 121px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 230px;
  border-radius: 50%;
}
.v143_354 {
  width: 159px;
  color: rgba(39,33,77,1);
  position: absolute;
  top: 128px;
  left: 213px;
  font-family: Open Sans;
  font-weight: SemiBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v143_355 {
  width: 62px;
  height: 28px;
  background: url("../images/v143_355.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 161px;
  left: 213px;
  overflow: hidden;
}
.v143_356 {
  width: 62px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v143_359 {
  width: 34px;
  height: 33px;
  background: url("../images/v143_359.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 166px;
  left: 350px;
  overflow: hidden;
}
.v143_360 {
  width: 34px;
  height: 33px;
  background: rgba(255,226,200,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  overflow: hidden;
}
.v143_361 {
  width: 17px;
  height: 16px;
  background: rgba(235,123,20,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 8px;
}
.v155_626 {
  width: 34px;
  height: 33px;
  background: url("../images/v155_626.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 436px;
  left: 336px;
  overflow: hidden;
}
.v155_627 {
  width: 34px;
  height: 33px;
  background: rgba(255,226,200,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  overflow: hidden;
}
.v155_628 {
  width: 17px;
  height: 16px;
  background: rgba(235,123,20,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 8px;
}
.v155_629 {
  width: 34px;
  height: 33px;
  background: url("../images/v155_629.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 713px;
  left: 341px;
  overflow: hidden;
}
.v155_630 {
  width: 34px;
  height: 33px;
  background: rgba(255,226,200,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  overflow: hidden;
}
.v155_631 {
  width: 17px;
  height: 16px;
  background: rgba(235,123,20,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 8px;
}
.v155_690 {
  width: 34px;
  height: 33px;
  background: url("../images/v155_690.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 718px;
  left: 3px;
  overflow: hidden;
}
.v155_691 {
  width: 34px;
  height: 33px;
  background: rgba(255,226,200,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  overflow: hidden;
}
.v155_692 {
  width: 17px;
  height: 16px;
  background: rgba(235,123,20,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 8px;
}
.v155_693 {
  width: 34px;
  height: 33px;
  background: url("../images/v155_693.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 925px;
  left: 265px;
  overflow: hidden;
}
.v155_694 {
  width: 34px;
  height: 33px;
  background: rgba(255,226,200,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  overflow: hidden;
}
.v155_695 {
  width: 17px;
  height: 16px;
  background: rgba(235,123,20,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 8px;
}
.v148_406 {
  width: 129px;
  height: 121px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 513px;
  left: 815px;
  border-radius: 50%;
}
.v148_407 {
  width: 129px;
  height: 121px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 514px;
  left: 1134px;
  border-radius: 50%;
}
.v148_415 {
  width: 129px;
  height: 121px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 788px;
  left: 1168px;
  border-radius: 50%;
}
.v148_417 {
  width: 129px;
  height: 121px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 1067px;
  left: 1152px;
  border-radius: 50%;
}
.v147_343 {
  width: 129px;
  height: 121px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 513px;
  left: 143px;
  border-radius: 50%;
}
.v148_408 {
  width: 129px;
  height: 121px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 796px;
  left: 155px;
  border-radius: 50%;
}
