* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v155_809 {
  width: 100%;
  height: 1772px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v155_811 {
  width: 100%;
  height: 164px;
  background: rgba(10,14,14,1);
  opacity: 0.6000000238418579;
  position: relative;
  top: 0px;
  left: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v155_813 {
  width: 414px;
  height: 153px;
  background: url("../images/v155_813.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 11px;
  overflow: hidden;
}
.v155_814 {
  width: 286px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 229px;
  left: 565px;
  font-family: Open Sans;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v159_896 {
  width: 619px;
  height: 459px;
  background: url("../images/v159_896.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 302px;
  left: 78px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v159_897 {
  width: 619px;
  height: 459px;
  background: rgba(81,209,217,0.5099999904632568);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 0.9660065174102783px solid rgba(152,213,217,0);
  border-top-left-radius: 19px;
  border-top-right-radius: 19px;
  border-bottom-left-radius: 19px;
  border-bottom-right-radius: 19px;
  box-shadow: 0px 2.6731884479522705px 2px rgba(0, 0, 0, 0.019680192694067955);
  overflow: hidden;
}
.v159_905 {
  width: 619px;
  height: 459px;
  background: url("../images/v159_905.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 302px;
  left: 757px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v159_906 {
  width: 619px;
  height: 459px;
  background: rgba(81,209,217,0.5099999904632568);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 0.9660065174102783px solid rgba(152,213,217,0);
  border-top-left-radius: 19px;
  border-top-right-radius: 19px;
  border-bottom-left-radius: 19px;
  border-bottom-right-radius: 19px;
  box-shadow: 0px 2.6731884479522705px 2px rgba(0, 0, 0, 0.019680192694067955);
  overflow: hidden;
}
.v159_907 {
  width: 454px;
  color: rgba(47,46,65,1);
  position: absolute;
  top: 141px;
  left: 83px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 49px;
  opacity: 1;
  text-align: center;
}
.v159_899 {
  width: 619px;
  height: 459px;
  background: url("../images/v159_899.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 905px;
  left: 78px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v159_900 {
  width: 619px;
  height: 459px;
  background: rgba(81,209,217,0.5099999904632568);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 0.9660065174102783px solid rgba(152,213,217,0);
  border-top-left-radius: 19px;
  border-top-right-radius: 19px;
  border-bottom-left-radius: 19px;
  border-bottom-right-radius: 19px;
  box-shadow: 0px 2.6731884479522705px 2px rgba(0, 0, 0, 0.019680192694067955);
  overflow: hidden;
}
.v159_908 {
  width: 419px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 454px;
  left: 178px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 49px;
  opacity: 1;
  text-align: center;
}
.v159_911 {
  width: 242px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1098px;
  left: 267px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 49px;
  opacity: 1;
  text-align: center;
}
.v160_415 {
  width: 100%;
  height: 303px;
  background: rgba(0,0,0,0.800000011920929);
  opacity: 0.5;
  position: absolute;
  top: 1469px;
  left: 0px;
  overflow: hidden;
}
.v160_416 {
  width: 418px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1489px;
  left: 92px;
  font-family: Open Sans;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v160_417 {
  width: 799px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1582px;
  left: 92px;
  font-family: Open Sans;
  font-weight: SemiBold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
