* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v148_418 {
  width: 100%;
  height: 1772px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v148_420 {
  width: 100%;
  height: 164px;
  background: rgba(10,14,14,1);
  opacity: 0.6000000238418579;
  position: relative;
  top: 0px;
  left: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.name {
  color: #fff;
}
.v148_422 {
  width: 414px;
  height: 153px;
  background: url("../images/v148_422.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 11px;
  overflow: hidden;
}
.v148_423 {
  width: 543px;
  height: 73px;
  background: rgba(32,177,187,0.5799999833106995);
  opacity: 1;
  position: absolute;
  top: 214px;
  left: 436px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}
.v148_424 {
  width: 444px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 229px;
  left: 468px;
  font-family: Open Sans;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v148_425 {
  width: 391px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 343px;
  left: 92px;
  font-family: Open Sans;
  font-weight: Bold;
  font-size: 29px;
  opacity: 1;
  text-align: left;
}
.v148_426 {
  width: 100%;
  height: 303px;
  background: rgba(0,0,0,0.800000011920929);
  opacity: 0.5;
  position: absolute;
  top: 1469px;
  left: 0px;
  overflow: hidden;
}
.v148_427 {
  width: 418px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1489px;
  left: 92px;
  font-family: Open Sans;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v148_428 {
  width: 799px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1582px;
  left: 92px;
  font-family: Open Sans;
  font-weight: SemiBold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v153_513 {
  width: 90%;
  height: 52%;
  background: rgba(176,235,243,0.28999999165534973);
  opacity: 1;
  position: absolute;
  top: 430px;
  left: 70px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v153_591 {
  width: 249px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 511px;
  left: 891px;
  font-family: Open Sans;
  font-weight: Bold;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.v154_346 {
  width: 526px;
  height: 70px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 619px;
  left: 121px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v154_347 {
  width: 526px;
  height: 70px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 619px;
  left: 767px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v155_598 {
  width: 275px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 625px;
  left: 822px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 42px;
  opacity: 1;
  text-align: center;
}
.v154_348 {
  width: 526px;
  height: 70px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 763px;
  left: 767px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v155_599 {
  width: 388px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 769px;
  left: 836px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 42px;
  opacity: 1;
  text-align: center;
}
.v154_349 {
  width: 526px;
  height: 70px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 907px;
  left: 767px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v155_603 {
  width: 251px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 917px;
  left: 827px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 42px;
  opacity: 1;
  text-align: left;
}
.v154_350 {
  width: 526px;
  height: 70px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 1051px;
  left: 767px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v155_604 {
  width: 275px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1061px;
  left: 836px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 42px;
  opacity: 1;
  text-align: left;
}
.v154_351 {
  width: 526px;
  height: 70px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 1195px;
  left: 767px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v153_592 {
  width: 526px;
  height: 70px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 763px;
  left: 121px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v153_593 {
  width: 526px;
  height: 70px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 907px;
  left: 121px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v155_600 {
  width: 198px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 920px;
  left: 204px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 42px;
  opacity: 1;
  text-align: center;
}
.v153_594 {
  width: 526px;
  height: 70px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 1051px;
  left: 121px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v155_601 {
  width: 167px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1064px;
  left: 209px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 42px;
  opacity: 1;
  text-align: center;
}
.v153_595 {
  width: 526px;
  height: 70px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 1195px;
  left: 121px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v155_602 {
  width: 176px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1201px;
  left: 204px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 42px;
  opacity: 1;
  text-align: center;
}
.v153_590 {
  width: 143px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 511px;
  left: 267px;
  font-family: Open Sans;
  font-weight: Bold;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}
.v153_596 {
  width: 144px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 634px;
  left: 195px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 42px;
  opacity: 1;
  text-align: center;
}
.v153_597 {
  width: 196px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 769px;
  left: 203px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 42px;
  opacity: 1;
  text-align: center;
}
.v155_606 {
  width: 251px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1210px;
  left: 836px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 42px;
  opacity: 1;
  text-align: left;
}
