.App {
  text-align: center;
}

nav{
  display:flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: blue;
  color: aliceblue;
}
.navlinks{
display: flex;
justify-content: space-around;
align-items: center;
width: 40%;
list-style: none;
}