body {
  background-image:url(https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/1-medium-violet-red-abstract-low-polygon-background-aloysius-patrimonio.jpg);
  height: 100%;
}

nav{
  font-family: Arial, Helvetica, sans-serif;
  font-size:24px;
  
  display:flex;
  justify-content: space-around;
  align-items: center;
  height:50px;
  background-color:grey;
  opacity: 0.7;
  color: aliceblue;
  margin-bottom: 8%;
}
.navlinks{
display: flex;
justify-content: space-around;
width:20%;
list-style: none;
color: black;
}

.login .form-control {
  display: flex;
  flex-direction: column;
}

.login .form-control input {
  margin: 5px;
  margin-left:40vw;
  padding: 12px;
  border: none;
  border-radius: 10px;
  width:20vw;
  font-family: inherit;
  font-weight: 700;
  letter-spacing: 2px;
  text-decoration: black;
}

.loginbutton {
  background-color: #8d3636;
  padding: 8px;
  border: 2px solid #8d3636;
  color: #fff;
  font-family: inherit;
  border-radius: 10px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 18px;
  margin-top: 5px;
  cursor: pointer;
  transition: background-color 0.4s;
  width: 130px;
  text-align: center;
  margin-left: 45%;

}

.signupbutton{
  background-color: #8d3636;
  padding: 8px;
  border: 2px solid #8d3636;
  color: #fff;
  font-family: inherit;
  border-radius: 10px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 18px;
  margin-top: 5px;
  cursor: pointer;
  transition: background-color 0.4s;
  width: 300px;
  text-align: center;
  margin-left: 41%;
}

.login .form-control button:hover {
  background-color:transparent;
}

